*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}




.block{
    height: 200px;
    width: 200px;
    background-color: yellow;
    padding: 100px;
    box-sizing: border-box;
    border: 5px solid red;
    margin: 50px;

    animation:slide 5s ease-in-out 1s infinite alternate forwards;
}

@keyframes slide {
    0%{
        transform: translateX(0);
        background-color: olive;
    }

    33%{
        transform: translateX(600px) rotate(270deg);
        background-color: rebeccapurple;
    }

    66%{
        transform: translateX(-300px) rotate(180deg);
        background-color: royalblue;
    }

    100%{
        transform: translateX(0);
        background-color: yellow;
    }

